<div id="footer" >
	<div class="copyright">
		<span>Powered by <a href="https://github.com/hexojs/hexo">Hexo</a> and theme by 
		<a href="https://github.com/levonlin/Tinnypp">Tinnypp</a>.</span>
		<% if(theme.author.intro_line1){ %>
			<span>© <%= theme.author.intro_line1 %></span>
		<% } %>
	<div>
</div>